POSTGRES_DB=news_agentic
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432

SUPERUSER_NAME="Tu Nombre"
SUPERUSER_EMAIL="tu-correo@example.com"
SUPERUSER_PASSWORD="tu-password-seguro"

RUN_MIGRATIONS=true
RUN_SEEDERS=true
